<!-- Page Content -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
        </div>
        <div class="col-lg-10">
          <h1 class="display-5 text-white mt-5 mb-2">Teste Conceitual Eleva Educação</h1>
          <p class="lead mb-5 text-white">Demonstração de frontend em Angular com backend .net</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container main-container">
    <div class="row text-center">

      <div class="col-lg-5 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/escola1.jpg" height="164px" width="421px" alt="">
          <div class="card-body">
            <h4 class="card-title">Escolas</h4>
            <p class="card-text">Sed efficitur ac ex nec lobortis. Ut id vulputate ante. Praesent felis odio, mollis ac elementum eget, tempor at diam.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/escolas/listar-todos" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/turma4.jpg" height="164px" width="421px" alt="">
          <div class="card-body">
            <h4 class="card-title">Turmas</h4>
            <p class="card-text">Etiam sed iaculis enim, id sagittis sapien. Suspendisse ultrices elit in augue volutpat vestibulum. Pellentesque id sapien ante. Sed eu tristique ex.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/turmas/listar-todos" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- Fim Content -->  