<div class="container main-container">

    <h1>Lista de Turmas</h1>
    <hr>

    <p>
        <a class="btn btn-info" [routerLink]="['/turmas/adicionar-novo']">Nova Turma</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Descricao
                </th>
                <th>
                    Escola
                </th>
                <th>
                    Ativo?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turma of turmas">
                <td>
                    {{ turma.nome }}
                </td>
                <td>
                    {{ turma.descricao }}
                </td>
                <td>
                    {{ turma.nomeEscola }}
                </td>
                <td>
                    <input [checked]="turma.ativo" class="check-box" disabled="disabled" type="checkbox">
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" [routerLink]="['/turmas/detalhes',turma.id]">
                        <span class="fa fa-search"></span>
                    </a>&nbsp;
                    <a class="btn btn-info" [routerLink]="['/turmas/editar',turma.id]">
                        <span class="fa fa-pencil"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/turmas/excluir',turma.id]">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>