<div class="container main-container">

    <h1>Lista de Escolas</h1>

    <p>
        <a class="btn btn-info" [routerLink]="['/escolas/adicionar-novo']">Nova Escola</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Documento</th>
                <th>Ativo?</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let escola of escolas">
            <td>
                {{ escola.nome }}
            </td>
            <td>
                {{escola.tipoEscola === 1 ? (escola.documento | cpf) : (escola.documento | cnpj ) }}
            </td>
            <td>
                <input [checked]="escola.ativo" class="check-box" disabled="disabled" type="checkbox">
            </td>
            <td class="text-right">
                <a class="btn btn-info" [routerLink]="['/escolas/detalhes',escola.id]">
                    <span class="fa fa-search"></span>
                </a>&nbsp;
                <a class="btn btn-warning" [routerLink]="['/escolas/editar',escola.id]">
                    <span class="fa fa-pencil-alt"></span>
                </a>&nbsp;
                <a class="btn btn-danger" [routerLink]="['/escolas/excluir',escola.id]">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
    </table>
</div>