<div class="container main-container">
    <h4>Excluir {{ turma.nome }} </h4>
    <br>

    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>
                    Turma
                </dt>
                <dd>
                    {{ turma.nomeEscola }}
                </dd>
                <dt>
                    Nome
                </dt>
                <dd>
                    {{ turma.nome }}
                </dd>
                <dt>
                    Descrição
                </dt>
                <dd>
                    {{ turma.descricao }}
                </dd>
                <dt>
                    Ativo?
                </dt>
                <dd>
                    <input [checked]="turma.ativo" class="check-box" disabled="disabled" type="checkbox">
                </dd>
            </dl>

            <div>
                <a class="btn btn-warning" [routerLink]="['/turmas/editar',turma.id]">Editar</a>&nbsp;
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </div>
    </div>

</div>